In [9]:
import warnings
warnings.filterwarnings('ignore')

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.metrics import accuracy_score,mean_squared_error
from sklearn.preprocessing import StandardScaler,LabelEncoder
from word2number import w2n

In [11]:
data=pd.read_csv('Automobile_data.csv')
data

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [12]:
data.isnull().sum()

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
dtype: int64

In [13]:
mean=data['price'].mean()
mean

15387.0

In [14]:
data['price']=data['price'].fillna(mean)

In [15]:
data.dtypes

index                 int64
company              object
body-style           object
wheel-base          float64
length              float64
engine-type          object
num-of-cylinders     object
horsepower            int64
average-mileage       int64
price               float64
dtype: object

In [16]:
pip install word2number

Requirement already satisfied: word2number in c:\users\dell\anaconda3\lib\site-packages (1.1)
Note: you may need to restart the kernel to use updated packages.

In [17]:
lb=LabelEncoder()

In [18]:
data['company']=lb.fit_transform(data['company'])

In [19]:
data['body-style']=lb.fit_transform(data['body-style'])

In [20]:
data['engine-type']=lb.fit_transform(data['engine-type'])

In [21]:
data

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,0,0,88.6,168.8,0,four,111,21,13495.0
1,1,0,0,88.6,168.8,0,four,111,21,16500.0
2,2,0,2,94.5,171.2,5,six,154,19,16500.0
3,3,1,3,99.8,176.6,3,four,102,24,13950.0
4,4,1,3,99.4,176.6,3,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,14,3,97.3,171.7,3,four,85,27,7975.0
57,82,14,3,97.3,171.7,3,four,52,37,7995.0
58,86,14,3,97.3,171.7,3,four,100,26,9995.0
59,87,15,3,104.3,188.8,3,four,114,23,12940.0
60,88,15,4,104.3,188.8,3,four,114,23,13415.0

In [22]:
data.dtypes

index                 int64
company               int32
body-style            int32
wheel-base          float64
length              float64
engine-type           int32
num-of-cylinders     object
horsepower            int64
average-mileage       int64
price               float64
dtype: object

In [23]:
data['num-of-cylinders']=data['num-of-cylinders'].apply(w2n.word_to_num)

In [24]:
data

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,0,0,88.6,168.8,0,4,111,21,13495.0
1,1,0,0,88.6,168.8,0,4,111,21,16500.0
2,2,0,2,94.5,171.2,5,6,154,19,16500.0
3,3,1,3,99.8,176.6,3,4,102,24,13950.0
4,4,1,3,99.4,176.6,3,5,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,14,3,97.3,171.7,3,4,85,27,7975.0
57,82,14,3,97.3,171.7,3,4,52,37,7995.0
58,86,14,3,97.3,171.7,3,4,100,26,9995.0
59,87,15,3,104.3,188.8,3,4,114,23,12940.0
60,88,15,4,104.3,188.8,3,4,114,23,13415.0

In [26]:
x=data.drop(['price'],axis=1)
y=data['price']
x

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage
0,0,0,0,88.6,168.8,0,4,111,21
1,1,0,0,88.6,168.8,0,4,111,21
2,2,0,2,94.5,171.2,5,6,154,19
3,3,1,3,99.8,176.6,3,4,102,24
4,4,1,3,99.4,176.6,3,5,115,18
...,...,...,...,...,...,...,...,...,...
56,81,14,3,97.3,171.7,3,4,85,27
57,82,14,3,97.3,171.7,3,4,52,37
58,86,14,3,97.3,171.7,3,4,100,26
59,87,15,3,104.3,188.8,3,4,114,23
60,88,15,4,104.3,188.8,3,4,114,23

In [27]:
y

0     13495.0
1     16500.0
2     16500.0
3     13950.0
4     17450.0
       ...
56     7975.0
57     7995.0
58     9995.0
59    12940.0
60    13415.0
Name: price, Length: 61, dtype: float64

In [29]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.25,random_state=30)

In [30]:
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)
x_train

array([[-4.10041215e-01, -5.16419737e-01,  4.13238817e-01,
        -1.92367262e-01, -1.86537380e-01,  9.74971970e-02,
        -5.18321055e-01, -1.68381547e-01, -1.34202877e-01],
       [ 1.09316487e+00,  1.14350085e+00,  1.39196233e+00,
        -3.26576980e-01, -1.42434847e-01,  9.74971970e-02,
        -5.18321055e-01, -8.42696408e-01,  6.20688307e-01],
       [ 8.67683956e-01,  9.36010773e-01, -5.65484697e-01,
         1.26380818e-01,  2.98590482e-01, -1.65745235e+00,
         2.07328422e+00,  3.16770250e+00, -1.14072446e+00],
       [-1.08648395e+00, -1.13888995e+00,  4.13238817e-01,
         5.96114830e-01,  3.79445126e-01,  9.74971970e-02,
         7.77481583e-01,  2.04266139e-01, -6.37463667e-01],
       [ 9.80424412e-01,  1.14350085e+00, -5.65484697e-01,
        -3.26576980e-01, -9.50981284e-01,  9.74971970e-02,
        -5.18321055e-01, -8.42696408e-01,  1.12394910e+00],
       [-7.18198462e-02,  1.06050482e-01, -5.65484697e-01,
        -7.62758562e-01, -9.21579595e-01,  9.74971970e-02,
        -5.18321055e-01, -7.36225640e-01,  6.20688307e-01],
       [-1.31196486e+00, -1.34638003e+00,  4.13238817e-01,
         3.61247824e-01,  4.16197237e-01,  9.74971970e-02,
         1.29580264e-01,  9.06973205e-03, -8.89094062e-01],
       [ 1.01800456e+00,  1.14350085e+00, -5.65484697e-01,
        -3.26576980e-01, -9.50981284e-01,  9.74971970e-02,
        -5.18321055e-01, -8.42696408e-01,  6.20688307e-01],
       [ 1.91241218e-01,  3.13540554e-01,  1.39196233e+00,
         2.07242172e+00,  1.41585465e+00,  9.74971970e-02,
         1.29580264e-01,  2.39756395e-01, -5.11648470e-01],
       [ 3.41561827e-01,  5.21030627e-01, -5.65484697e-01,
        -6.62101274e-01, -1.05388719e+00,  9.74971970e-02,
        -5.18321055e-01, -7.36225640e-01,  1.37557949e+00],
       [-1.12406410e+00, -1.13888995e+00,  4.13238817e-01,
         5.96114830e-01,  3.79445126e-01,  9.74971970e-02,
        -5.18321055e-01, -1.50636419e-01, -3.85833272e-01],
       [-2.22140455e-01, -1.01439591e-01,  4.13238817e-01,
         2.57570817e+00,  2.05534138e+00, -2.53492712e+00,
         7.77481583e-01,  1.18024817e+00, -1.39235485e+00],
       [-8.61003040e-01, -9.31399882e-01, -5.65484697e-01,
        -5.27891556e-01, -1.15679310e+00,  9.74971970e-02,
        -5.18321055e-01, -7.00735385e-01,  1.50139469e+00],
       [ 5.67042739e-01,  7.28520700e-01,  4.13238817e-01,
        -5.27891556e-01, -4.65853422e-01,  9.74971970e-02,
        -5.18321055e-01, -7.18480512e-01,  6.20688307e-01],
       [-1.84560302e-01, -1.01439591e-01,  4.13238817e-01,
         7.30324547e-01,  1.47465803e+00,  1.85244674e+00,
         4.66488950e+00,  2.70632918e+00, -1.64398525e+00],
       [ 1.54412669e+00,  1.35099092e+00,  4.13238817e-01,
        -5.81575443e-02,  4.57359601e-03,  9.74971970e-02,
        -5.18321055e-01, -4.34558466e-01,  1.17427518e-01],
       [-1.09399998e-01,  1.06050482e-01, -5.65484697e-01,
        -7.62758562e-01, -9.21579595e-01,  9.74971970e-02,
        -5.18321055e-01, -7.36225640e-01,  6.20688307e-01],
       [-8.98583192e-01, -9.31399882e-01, -5.65484697e-01,
        -1.55124065e+00, -2.24465558e+00, -7.79977576e-01,
        -1.16622237e+00, -1.09112820e+00,  2.63373147e+00],
       [ 1.46896639e+00,  1.14350085e+00,  1.39196233e+00,
         1.14972992e+00,  1.18799156e+00, -2.53492712e+00,
         7.77481583e-01,  8.25345616e-01, -8.89094062e-01],
       [-8.23422888e-01, -9.31399882e-01,  4.13238817e-01,
        -5.27891556e-01, -9.43630862e-01,  9.74971970e-02,
        -5.18321055e-01, -7.00735385e-01,  1.50139469e+00],
       [-9.73743496e-01, -1.13888995e+00,  4.13238817e-01,
         9.81967768e-01,  1.62901689e+00,  9.74971970e-02,
         7.77481583e-01,  1.28671894e+00, -1.26653965e+00],
       [-1.49986563e+00, -1.55387010e+00, -2.52293172e+00,
        -1.51768822e+00, -2.08588646e-01, -2.53492712e+00,
        -5.18321055e-01,  2.68148600e-02, -6.37463667e-01],
       [-1.46980150e-01,  1.06050482e-01, -5.65484697e-01,
        -7.62758562e-01, -9.21579595e-01,  9.74971970e-02,
        -5.18321055e-01, -7.36225640e-01,  4.94873110e-01],
       [-1.27438471e+00, -1.34638003e+00,  1.39196233e+00,
         1.36782071e+00,  1.54816225e+00,  9.74971970e-02,
         1.29580264e-01,  9.06973205e-03, -8.89094062e-01],
       [-7.85842736e-01, -7.23909809e-01, -5.65484697e-01,
        -6.62101274e-01, -1.05388719e+00,  9.74971970e-02,
        -5.18321055e-01, -7.36225640e-01,  6.20688307e-01],
       [ 1.50654654e+00,  1.35099092e+00,  4.13238817e-01,
        -5.81575443e-02,  4.57359601e-03,  9.74971970e-02,
        -5.18321055e-01, -1.02014769e+00,  1.37557949e+00],
       [ 4.16722131e-01,  5.21030627e-01,  4.13238817e-01,
        -2.25919691e-01,  5.60265511e-02,  9.74971970e-02,
        -5.18321055e-01, -3.81323082e-01, -1.34202877e-01],
       [ 6.42203043e-01,  7.28520700e-01,  4.13238817e-01,
         4.61905112e-01,  9.52778054e-01,  1.85244674e+00,
         7.77481583e-01,  7.54365104e-01, -8.89094062e-01],
       [-4.85201519e-01, -5.16419737e-01,  1.39196233e+00,
        -1.92367262e-01, -1.06858804e+00,  9.74971970e-02,
        -5.18321055e-01, -5.94264617e-01,  4.94873110e-01],
       [ 2.66401523e-01,  3.13540554e-01, -1.54420821e+00,
         2.40794602e+00,  2.02593969e+00,  1.85244674e+00,
         2.07328422e+00,  1.32220920e+00, -1.51817005e+00],
       [ 1.58170685e+00,  1.35099092e+00,  4.13238817e-01,
        -5.81575443e-02,  4.57359601e-03,  9.74971970e-02,
        -5.18321055e-01, -1.02014769e+00,  1.37557949e+00],
       [-1.46228547e+00, -1.55387010e+00, -2.52293172e+00,
        -1.51768822e+00, -2.08588646e-01, -2.53492712e+00,
        -5.18321055e-01,  2.68148600e-02, -6.37463667e-01],
       [-1.16164426e+00, -1.13888995e+00,  4.13238817e-01,
         5.96114830e-01,  3.79445126e-01,  9.74971970e-02,
        -5.18321055e-01, -1.50636419e-01, -3.85833272e-01],
       [ 5.29462587e-01,  7.28520700e-01,  4.13238817e-01,
        -5.27891556e-01, -4.65853422e-01,  9.74971970e-02,
        -5.18321055e-01, -7.18480512e-01,  6.20688307e-01],
       [-1.38712517e+00, -1.34638003e+00,  4.13238817e-01,
         3.61247824e-01,  3.64744281e-01,  9.74971970e-02,
        -5.18321055e-01, -1.32891291e-01, -2.60018075e-01],
       [ 8.30103804e-01,  9.36010773e-01, -2.52293172e+00,
        -1.36670229e+00, -2.01238224e-01,  9.74971970e-01,
         7.77481583e-01,  1.73034714e+00, -1.14072446e+00],
       [-7.48262584e-01, -7.23909809e-01, -5.65484697e-01,
        -6.62101274e-01, -1.05388719e+00,  9.74971970e-02,
        -5.18321055e-01, -7.36225640e-01,  6.20688307e-01],
       [-1.42470532e+00, -1.55387010e+00, -5.65484697e-01,
        -5.27891556e-01, -3.21785148e-02,  1.85244674e+00,
         7.77481583e-01,  7.89855360e-01, -8.89094062e-01],
       [-2.97300759e-01, -3.08929664e-01,  4.13238817e-01,
        -5.27891556e-01, -1.15679310e+00,  9.74971970e-02,
        -5.18321055e-01, -7.00735385e-01,  1.50139469e+00],
       [-9.36163344e-01, -1.13888995e+00,  4.13238817e-01,
         2.07242172e+00,  1.86423040e+00,  9.74971970e-02,
         7.77481583e-01,  1.28671894e+00, -1.39235485e+00],
       [ 1.13074502e+00,  1.14350085e+00,  1.39196233e+00,
        -3.26576980e-01, -1.42434847e-01,  9.74971970e-02,
        -5.18321055e-01, -8.42696408e-01,  1.17427518e-01],
       [ 1.73202745e+00,  1.35099092e+00,  4.13238817e-01,
        -5.81575443e-02,  4.57359601e-03,  9.74971970e-02,
        -5.18321055e-01, -1.68381547e-01, -8.38767983e-03],
       [ 7.92523652e-01,  9.36010773e-01, -1.54420821e+00,
        -1.36670229e+00, -2.01238224e-01,  9.74971970e-01,
         7.77481583e-01,  1.73034714e+00, -1.14072446e+00],
       [ 1.80718776e+00,  1.55848099e+00,  1.39196233e+00,
         1.11617749e+00,  1.26149578e+00,  9.74971970e-02,
        -5.18321055e-01,  8.00502437e-02, -3.85833272e-01],
       [ 3.79141979e-01,  5.21030627e-01, -5.65484697e-01,
        -6.62101274e-01, -1.05388719e+00,  9.74971970e-02,
        -5.18321055e-01, -7.36225640e-01,  6.20688307e-01]])

In [31]:
svm=SVR(kernel='linear')
svm.fit(x_train,y_train)
svm.score(x_test,y_test)

-0.3278112219858531

In [34]:
svm1=SVR(kernel='poly',degree=3,C=5,gamma='auto')
svm1.fit(x_train,y_train)
svm1.score(x_test,y_test)

-0.3298762787490115

In [36]:
svm2=SVR(kernel='sigmoid')
svm2.fit(x_train,y_train)
svm2.score(x_test,y_test)

-0.3522051989124373

In [37]:
svm3=SVR(kernel='rbf')
svm3.fit(x_train,y_train)
svm3.score(x_test,y_test)

-0.3534721702545347

In [38]:
svm=SVR()
svm.fit(x_train,y_train)
svm.score(x_test,y_test)

-0.3534721702545347